/*****************************************************************************/
/* Index: Style */
/*****************************************************************************/
body {
min-height: 2000px;
padding-top: 70px;
}

.status, .delete {
  cursor:pointer;
}

.status:hover {
  color:blue;
}